
//Based on annimation created by Panos Christophides
//https://www.sliderrevolution.com/resources/css-border-animation/#:~:text=CSS%20border%20animation%20is%20useful,container%20element%20a%20unique%20style.
//https://codepen.io/RenMan/pen/jwWKMb

//local variables
$width: 210px;
$height: 35px;
$stroke: 2px;
$transition_duration: 100ms;
$pipeline_width: $width + $stroke;
$pipeline_height: $height + $stroke;
$pipes: 4;

@function border-pipeline($transition_duration, $pipe) {
  @return $transition_duration * $pipe;
}

@mixin border-animation($dimension, $easing, $pipe) {
  transition: $transition_duration $dimension $easing
    border-pipeline($transition_duration, $pipe);
  -web-kit-transition: $transition_duration $dimension $easing
    border-pipeline($transition_duration, $pipe);
}

.box {
  width: $width;
  height: $height;
  background: transparent;
  text-align: center;
  color: var(--light-green);
  position: relative;
  cursor: pointer;
  text-align: left;
  padding-left: 5px;
  top: 8px;
  //todo: add h2::after arrow animation
  transition: ($transition_duration * $pipes) + $transition_duration ease;
  //clockwise border animation:
  //top
  &:before {
    position: absolute;
    width: 0;
    height: $stroke;
    content: "";
    background: var(--font-color);
    top: -$stroke;
    left: -$stroke;
    @include border-animation(width, ease, 3);
  }
  //right
  &:after {
    position: absolute;
    width: $stroke;
    height: 0;
    content: "";
    background: var(--font-color);
    top: -$stroke;
    right: -$stroke;
    @include border-animation(height, ease, 2);
  }
  //bottom
  &-inner:after {
    position: absolute;
    width: 0;
    height: $stroke;
    content: "";
    background: var(--font-color);
    bottom: -$stroke;
    right: -$stroke;
    @include border-animation(width, ease, 1);
  }
  //left
  &-inner:before {
    position: absolute;
    width: $stroke;
    height: 0;
    content: "";
    background: var(--font-color);
    bottom: -$stroke;
    left: -$stroke;
    @include border-animation(height, ease, 0);
  }
  &-inner:hover{
    #arrowAnim {
      display: flex;
    }
  }
  &:hover {
    border-color: transparent;
    
    &:before {
      width: $pipeline_width;
      @include border-animation(width, ease, 0);
    }
    &:after {
      height: $pipeline_height;
      @include border-animation(height, ease, 1);
    }
    .box-inner:after {
      width: $pipeline_width;
      @include border-animation(width, ease, 2);
    }
    .box-inner:before {
      height: $pipeline_height;
      @include border-animation(height, ease, 3);
    }
  }
}

//arrows animation
#arrowAnim {
  // display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   margin-right: 25px;
   display:none;
}

//creating a square using borders, coloring only the borders and rotating it
.arrow {
  width: 10px;
  height: 10px;
  border: 2px solid;
  border-color: var(--light-green) transparent transparent var(--light-green);//top + left borders
  transform: rotate(135deg);
}

.arrowSliding {
  position: absolute;
  -webkit-animation: slide 3s linear infinite;
  animation: slide 3s linear infinite;
  margin-bottom: 8px;
}

.delay1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.delay2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-1.5vw);
  }
  20% {
    opacity: 1;
    transform: translateX(-1vw);
  }
  80% {
    opacity: 1;
    transform: translateX(0vw);
  }
  100% {
    opacity: 0;
    transform: translateX(1.5vw);
  }
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-1.5vw);
  }
  20% {
    opacity: 1;
    transform: translateX(-1vw);
  }
  80% {
    opacity: 1;
    transform: translateX(0vw);
  }
  100% {
    opacity: 0;
    transform: translateX(1.5vw);
  }
}
