.mobile-widget {
  max-width: 600px;
  padding: 30px;
  @media (max-width: 768px) {
    display: none !important;
  }
}

//overriding the slider default css
.slick-dots li button:before {
  color: var(--font-color);
}

.slick-dots li.slick-active button:before {
  color: var(--light-green);
}
