.nav-bar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(50, 125, 200);
  color: rgb(227, 227, 227);

  .navigation{
    margin: 0 15px;
    padding: 5px 5px;
  }

  & span {
    margin: 0 15px;
    padding: 5px 5px;
  }

  & a {
    color: inherit;
  }
}
