@font-face {
  font-family: "StylishCalligraphy";
  src: local("StylishCalligraphy"),
    url(../../Fonts/StylishCalligraphy.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Salazar";
  src: local("Salazar"), url(../../Fonts/Salazar.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Madelican";
  src: local("Madelican"), url(../../Fonts/Madelican.otf) format("truetype");
  font-weight: normal;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  justify-items: unset;
  text-align: center;
  flex-direction: column;

  .header{
      justify-items: start;
  }

  .name {
    font-family: Madelican;
    font-size: clamp(1.5em, 12vw, 4.5em); //clamp(min, value, maximum), base value is set in 
  }
}
