@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap");

@font-face {
  font-family: "Madelican";
  src: local("Madelican"), url(./Fonts/Madelican.otf) format("truetype");
  font-weight: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-size: 16px;
  letter-spacing: 0.04em;
  margin: 0;
  padding: 0;
}

//find a better default font for the page
body{
  font-family: "Signika Negative", sans-serif;
  font-weight: 300;
  color:#ccd6f6;
  .nav-bar,.footer{
    color:#ccd6f6;
    background-color: #0a192f;
  }

  //initialize counters
  counter-reset: title-counter;
  counter-reset: nav-counter;
}

body {
 
}

.main-container {
  background-color: #0a192f;
}


