

div#about {
  p a.company-url {
    outline: none;
    text-decoration: none;
    color: var(--light-green);
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid;
    }

    &:focus {
    }

    &:active {
    }
  }
}
